server:
  port: 8080
spring:
  application:
    name: "demo-clean-architecture"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null
  datasource:
    url: "jdbc:h2:mem:test"
    username: "sa"
    password: "pass"
    driverClassName: "org.h2.Driver"
  jpa:
    databasePlatform: "org.hibernate.dialect.H2Dialect"
config:
  uploads:
    path: "G://Mi unidad//SOFKA_U//demo-webflux//uploads//"
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true

##spring.data.mongodb.uri: "mongodb://localhost:27017/spring_boot"
spring.datasource.url: jdbc:mysql://localhost/biblioteca
spring.datasource.username: root
spring.datasource.password: root
spring.datasource.driver-class-name: com.mysql.cj.jdbc.Driver
spring.jpa.database-platform: org.hibernate.dialect.MySQL57Dialect
spring.jpa.hibernate.ddl-auto: create-drop
logging.level.org.hibernate.SQL: debug