server:
  port: 8080
spring:
  application:
    name: "demo-clean-architecture"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null
  data:
    mongodb:
      uri: "mongodb://localhost:27017/spring_boot"

config:
  uploads:
    path: "G://Mi unidad//SOFKA_U//demo-webflux//uploads//"
